@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
	margin: 0 auto;
}
h1{
	font-family: 'Poppins', sans-serif;
}
h3{
	font-size: 20px;
}
h4{
	margin: 5%;
	text-align: center;
}
body{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	height: 100%;
}
input, textarea{
	font-family: 'Montserrat', sans-serif;

}
header{
	display: flex;
  	width: 100%;
  	position: fixed; /*para que el menu se fije arriba y hagamos scroll y siempre lo tengamos fijado*/
  	box-shadow: 0 0 7px 1px #00000057;
}
a{
	color: white;
}
main{
	color: black;
	width: 100%;
	height: 100%;
}
/*Menu*/
nav ul {
  	display: none;
  	padding: 0;
  	margin: 0;
  	width: 100%;
}


nav p{
	display: flex;
    align-items: center;
    color: white;
    font-weight: 900;
}

.logopagina{
  	height: 100px;
  	margin-right: 42%;
  	padding: 0 20px;
  	width: 150px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	padding-left: 5%;
}

nav ul li {
	background-color: #5C5C5C;
	width: 100%;
	padding: 4% 0;
	margin: 0;
	font-size: 2em;
}

ul.menu{
	display: flex;
	flex-direction: column;
	justify-content: center; 
	height: 0;
	display: none;
	transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s; /*Cuando se despliegue el menu tendrá 0.4 segundo de transición lo que va a tardar en desplegarse*/
}
#navigation{
	background-color: #5C5C5C;
	display: flex;
	transition: 0s;
	width: 100%;
}

.menu{
	flex-direction: column;
	position: absolute;
	width: 100%;
	list-style-type: none;
	margin-top: 50px;
}
#check{
	display: none;
}
.checkbtn{
	font-size: 3em;
	color: white;
}
.close{
	display: none;
}
#check:checked~.menu{
	visibility: visible; /*Cuando clickemos en el boton del menu el icono sea visible*/
	display: block;
}
#check:checked~.open{
	display: none; /*No queremos que se visualice ese icono cuando este checkado el boton del menu*/
}
#check:checked~.close{
	display: block; /*Blockeamos el icono del menu para que se vea*/
}
/*Section grande: formulario y tabla */
form{
	margin: 0;
	width: 100%;
}
section{
	display: flex;
	flex-direction: column;
	margin: 10% 0;
	width: 100%;
}
#section_form{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}
.iborder{
	overflow: hidden;
	font-size: 40px;
	padding: 2%;
	width: 85%;
	margin: 5%;
	border-bottom: 1px solid lightgrey;
}
.iborder input, .iborder textarea{
	border: none;
	line-height: 1.65em;
	font-size: 11pt;
	width: 100%;
}
#container{
	display: flex;
	flex-direction: column;
	margin: 0;
}
#cabecera{
	display: flex;
	margin: 0;
}
#cabecera p{
	text-align: center;
}

#containt_divs{
	width: 100%;
	display: flex;
	flex-direction: column;
}
#containt_divs div{
	display: flex;
	margin: 0;
	width: 100%;
}
#containt_divs div p{
	padding: 2%;
}
#add_row{
    margin: 5%;
    font-size: 1em;
    background-color: #F49F0A;
    border-color: orange;
    border-radius: 2%;
    padding: 5%;
    cursor: pointer;
    color: white;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
}
button{
	margin: 0;
	background: none;
	border: none;
}
footer{
	background-color: black;
	color: white;
	display: flex;
	width: 100%;
    height: 100px;
    bottom: 0;
}
footer p{
	align-self: center;
}
/*Media queries computer*/
@media only screen and (min-width: 950px) and (max-width: 1300px){
	ul.menu{
		display: flex;
		flex-direction: row;
		font-size: 11px;
		width: 40%;
		margin: 1.5%;
		padding-left: 10%;
	}
	#navigation p{
		width: 30%;
		margin: 0;
		margin-right: 40%; 
	}
	#check, .checkbtn{
		display: none;
	}
	.user{
		display: block;
		width: 5%;
		margin: 0;
	}
	#navigation{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-self: auto;
	}
	nav ul li{
		padding: 0;
		display: flex;
		width: 33%;
		align-self: end;
	}
	#containt_divs div{
		display: flex;
		margin: 0;
		width: 90%;
		padding: 2%;
	}
	#containt_divs div p{
		padding-right: 10%;
		text-align: center;
		width: 25%;
	}
	#section_form{
		margin: 0;
	}
}
@media only screen and (min-width: 1301px){
	ul.menu{
		display: flex;
		flex-direction: row;
		font-size: 11px;
		width: 40%;
		margin: 1%;
		padding-left: 10%;
	}
	#navigation p{
		width: 30%;
		margin: 0;
		margin-right: 40%; 
	}
	#check, .checkbtn{
		display: none;
	}
	.user{
		display: block;
		width: 5%;
		margin: 0;
	}
	#navigation{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-self: auto;
	}
	nav ul li{
		padding: 0;
		display: flex;
		width: 33%;
		align-self: end;
	}
}	