@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
	box-sizing: border-box;
	margin: 0 auto;
}
h1{
	font-family: 'Poppins', sans-serif;
}
body{
	background-image: url(../../img/edificio2.jpg);
	background-size: 100%;
	font-family: 'Montserrat', sans-serif;

}
main{
	display: flex;
}
nav ul {
  	display: none;
  	padding: 0;
  	margin: 0;
  	width: 100%;
}

nav img {
  	width: 10%;
  	padding: 14px 20px;
}
nav ul li a{
	color: white;
	text-decoration: none;
}

nav ul li {
	background-color: black;
	width: 100%;
	padding: 5%;
	margin: 0;
	font-size: 2em;
}

.close{
	display: none;
}
ul.menu{
	display: flex;
	flex-direction: column;
	justify-content: center; 
	height: 0;
	overflow: hidden;
	transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s;
}
#navigation:target ul.menu{
	height: 200px;
	transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s;
}
#navigation:target .logopagina{
	display: none;
}
#navigation:target{
	width: 100%;
	height: 250px;
}
#navigation{
	transition: 0s;
	background-color: black;
	width: 100%; 
}
#navigation:target .open{
	display: none;
}
#navigation:target .close{
	display: block;
}
.menu{
	flex-direction: column;
	position: absolute;
	width: 100%;
	list-style-type: none;
}
i{
	width: 28px;
}